.admin__topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .admin__topbarWrapper {
    height: 50px;
    flex: 1;
    margin: 0px 20px;
   margin-bottom: 15px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .title {
    font-size: 20px;
    display: flex;
    gap: 8px;
  }
  .iconWrapper {
    background-color: #5c93fa;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .icon {
    text-align: center;
  }


  .admin__tableWrapper {
    height: auto;
    flex: 1;
    margin: 0px 20px;
    padding-left: 0;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  .tableMainItems {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
  }
  
  